/* <------------- CSS TO BE ADDED HERE --------------> */
body {
    margin: 0px;
    text-align: center;
    background-color:rgba(0, 0, 0, .9);
    color: white;
}
/* <------------- NAVIGATION --------------> */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 5
}

.nav-logo {
    width: 100%;
}

.nav-dropdown {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 0px;
    cursor: pointer;
}

.cart-image {
    width: auto;
    max-height: 75%;
}

.dropdown-toggle {
    background: transparent;
    /* margin-left: -20px; */
    height: 75px;
    width: 150px;
    color: transparent;
    border-color: transparent
}

.dropdown-toggle:hover {
    color: transparent;
    border-color: transparent;
    background-color:transparent;
}

.dropdown-toggle::after {
    color: transparent;
    border-color: transparent;
    background-color:transparent;
}

.cart-item-image {
    max-width: 100px;
    height: auto
}

.cart-line-item {
    display: flex;
    flex-direction: row
}

/* <------------- ABOUT --------------> */

.about-container {
    min-width: 100%;
    margin: 0px;
    padding-top: 80px;
    border: 40px
}

.about-row {
    padding: 1em;
}

.pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 25px
}

.client-pic {
    max-width: 90%;
    height: auto;
    border-radius: 50%;
}

.description-container {
  display: flex;
  justify-content: center;
}

.description {
  padding: 25px;
  max-width: 75%;
}

/* <------------- SEARCHBAR CONTAINER --------------> */

.searchbar-container {
    margin: 10px 0px;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    margin-bottom: 0px
}

.search-input {
    margin: 0px 8px;
    padding: 0px 8px
}

/* <------------- MAIN CONTAINER --------------> */

.main-container {
    padding: 30px;
    margin: 0px;
    border: 0px
}

.entire-deck {
    display: flex;
    justify-content: center;
    margin: 0px
}

.solo-card {
    margin: 35px 0px 35px 0px
}

.one-card {
  padding: 15px
}

.solo-pic {
    height: 200px;
    width: 300px;
    padding: 5px
}

.card-text {
    color: black;
    display: flex;
    flex-direction: column;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rating-label {
    padding-right: 5px
}

.no-match {
    height: 400px;
    font-style: italic;
    padding-top: 150px
}

/* <------------- DETAILS MODAL --------------> */

.modal-body-container {
    padding: 0px
}

#modalTitle {
    color: black;
}

.modal-body{
    padding: 0px
}

.modal-image {
    height: 200px;
    width: 300px;
    padding-top: 1em
}

.image-description {
    color: black;
    padding: 1em 2em 1em 0em
}

/* <------------- FORM --------------> */

.form {
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding-left: 20px; */
}

.form-title {
    font-size: 18px;
    font-weight: 700;
    padding-top: 1em;
}
.form-row {
    padding: 1em;
    margin-left: 0px;
    width: 100%;
    border-top: 1px solid #dee2e6
}

.inner-form {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: flex-start;
    padding: 1em;
}

.order-size {
    margin-left: 20px
}

.price {
    margin-left: 20px
}

.input-quantity {
    padding-bottom: 1em;
}

.quantity {
    padding-right: 1em;
}

.modal-total {
    height: 100%;
    color: black;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

/* <------------- FOOTER --------------> */

.footer-container {
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 16px
}

.footer-logo {
    height: 50px;
}

.social-logo {
    height: 40px;
    margin: 5px
}

.instagram-logo {
    border-radius: 5px
}
