/* <------------- CSS TO BE ADDED HERE --------------> */
body {
    margin: 0px;
    text-align: center;
    background-color:rgba(0, 0, 0, .9);
    color: white;
}
/* <------------- NAVIGATION --------------> */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 5
}

.nav-logo {
    max-height: 80px;
    width: auto;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer
}

.cart-image {
    max-width: 75%;
    height: auto
}

/* <------------- ABOUT --------------> */

.about-container {
    min-width: 100%;
    margin: 0px;
    padding-top: 80px;
    border: 40px
}

.pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 25px
}

.client-pic {
    max-width: 90%;
    height: auto;
    border-radius: 50%;
}

.description-container {
  display: flex;
  justify-content: center;
}

.description {
  padding: 25px;
  max-width: 75%;
}

/* <------------- MAIN CONTAINER --------------> */

.main-container {
    padding: 30px;
    margin: 0px;
    border: 0px
}

.entire-deck {
    display: flex;
    justify-content: center;
    margin: 0px
}

.solo-card {
    margin: 15px 0px 15px 0px
}

.one-card {
  padding: 15px
}

.solo-pic {
    height: 200px;
    width: 300px;
    padding: 5px
}

.card-text {
    color: black;
    display: flex;
    flex-direction: column;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rating-label {
    padding-right: 5px
}

/* <------------- FOOTER --------------> */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
